@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

body {
    color: #171a28;
    font-family: 'M PLUS 1', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.desktop {
    display: none;
}

@media(min-width:1200px) {
    .desktop {
        display: initial;
    }
    
}
@media(max-width:1200px) {
    header nav a{
        background-color: rgba(0, 0, 0, 0.08);
        transition: all .5s ease;
        border-radius: 5px;
        z-index: 2;
    }
}
header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 12px 20px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

a.logo {
    height: 12px;
    width: 100px;
    color: inherit;
}

header a {
    color: inherit;
}

header nav a {
    padding: 5px 10px;
}

header nav a:hover {
    background-color: rgba(0, 0, 0, 0.08);
    transition: all .5s ease;
    border-radius: 5px;
    z-index: 2;
}

header nav.center {
    text-align: center;
    font-weight: 500;
    z-index: 10;
}

header nav.right {
    text-align: right;
    font-weight: 500;
    z-index: 10;

}

section {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

section .content {
    max-width: 100%;
    height: 100vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

section h1 {
    font-size: 3rem;
    font-weight: 500;
}

section .content p a {
    text-decoration: underline;
}

section a {
    color: inherit;
}

section .buttons a {
    display: block;
    background-color: #eee;
    color: inherit;
    padding: 12px 50px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 800;
}

section .buttons a:first-child {
    background-color: #444;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}

section .buttons {
    display: grid;
    row-gap: 20px;
    margin: 0 40px;
}

section .buttons .button {
    padding: 12px 70px;
}


section .buttons-shop {
    display: inline-flex;
  align-self: flex-end;
  justify-content: center;
}
section .buttons-shop .button-shop {
    display: block;
    margin-bottom: 40px;
    padding: 5px 90px;
    background-color: #000;
    color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}

@media(min-width:768px) {
    section .buttons {
        max-width: 648px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}

aside {
    position: fixed;
    transition: right .6s ease;
    right: -320px;
    width: 320px;
    height: 100%;
    background-color: #ffff;
    padding: 80px 40px;
    z-index: 4;
}

aside.active {
    right: 0px;
}

aside a {
    display: block;
    color: inherit;
    padding: 4px 0;
    font-size: 12px;
    font-weight: 500;
}

aside button.close {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 100;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}

.backdrop {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.backdrop.active {
    display: block;
}

.footer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 60px;
    text-align: center;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
}

.footer li a {
    color: #444;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.8;
    padding-left: 10px;
}

@media(max-width:1123px) {
    .footer {
        display: inline;
        justify-content: space-between;
        max-width: 100%;
        height: 60px;
        text-align: center;
        align-items: center;
        background-color: white;
        margin-bottom: 10px;
    }
}